.homeContainer{

    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
}

.homeContainer h1{
    font-size: 2.5em;
    margin-bottom: .5em;

}

.homeContainer > *{
    border: .2px #7b7b7b solid ;
    border-radius: 1pc;
    margin: 8vh;
    width: 30vh;
    height: 30vh;
    box-shadow: rgba(134, 134, 134, 0.651) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
}

.homeContainer > *:hover{
    width: 32vh;
    height: 32vh;
    margin: 7vh;
    box-shadow: rgba(134, 134, 134, 0.651) 0px 20px 29px 3px;
    transition: 0.2s;
}

.homeContainer > * > span{
   color: #373636;
    font-weight: 600;
    font-size: 5vh;
}

.homeContainer > * > svg{
    fill: #373636;
    font-size: 15vh;
    
}


.btn{
    background-color: #ffc9b3;
}
.btn2{
    background-color: #ffb0c5;
}
.btn3{
    background-color: #ffc1ee;
}