
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoutDiv{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}
.search input{
    width: 30em;
    border: 0.5px solid lightgrey;
    border-right: 0;
    height: 40px;
    
}

.sbutton{
    height: 40px;
    border: 0.5px solid lightgray;
    border-left: 0;
    cursor: pointer; 
    font-size: 35px; 
    margin-left: -0.1em; 
    
}

.nbutton{
    margin-left: 4rem;
    height: 40px;
    border: 0.5px solid lightgray;
    cursor: pointer; 
    font-size: 40px;  
    background-color: rgb(208, 241, 208);
}

.newprojectContainer {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newprojectContainer h1{
margin-bottom: 0.5em;

    
}

.newprojectContainer p{
    color: #7b7b7b;
}