#calendarPage {
    width: 100%;
    height: 100%;
  
    .headerPage {
      height: 60px;
      width: 100%;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2em;
      color: #143296;
      font-weight: 550;
    }
  
    .content {
      display: flex;
      width: 100%;
     
      // background: #ebebeb;
    }
  
  }
  
  #monthCard {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  
    .header {
      text-align: center;
      font-weight: bold;
      color: #143296;
    }
  
    .weekDays {
      border-bottom: 1px solid #ccc;
      color: #143296;
  
      .weekDay {
        display: inline-block;
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
        margin: 1px;
      }
    }
  
    .week {
      margin: 2px;
    }
  }