.cPanel{   
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: .5em;
    width: 100%;
    align-items: center;
   
    
}

.inputPanel{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    justify-content: space-between;
    width: 60%;
    background-color: #f1f1f1;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    flex-direction: row;
    padding: 1em .5em .5em.5em;
    align-items: center;

}


.inputPanel >* {
   
    margin: auto 0;
    height: 2em;

}

.rBody{
    display: flex;
    flex-direction: column;    
    width: 100%;
}

.rBody > div > textarea{
    height: auto;
    width: 70vh;
}

.rBody label{
    margin: 0;
}

.tdConfirm svg{
    font-size: 1.8em;
    fill: #03ba4c;
}
.tdConfirm {
    display: flex;
    justify-content: center;
}
.tableContainer2 button svg{
    font-size: 1.8em;
    fill: #868686;
    transition: 0.2s;
}

.tableContainer2 button{
    border: 0;
    cursor: pointer;
}

.btnControl{
    
    margin-top: -3px;
}

.tableContainer2{  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;

    width: 60%;
    background-color: #f7f7f7;
    position: relative; 
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 0;
    max-height: 65vh;
    
}
.tableContainer2 th{
    padding-left: 5px;
    background-color: #7c7171;
    color: #fbfbfb;
    height: 5vh;
    position: sticky;
    top: 2px;
    font-weight: normal;
    width: 2%;
    

}

.btnconfirm{    
    margin: 4px auto;
    max-height: 2em;
}

.tbody2 td{
    
    height: 2.5em;
    text-align: center;    
    padding-left: 5px;
    
}

.dele{
    max-width: em;
}

