.evoPanel{   
    display: flex;
    height: 100%;
    padding-bottom: .5em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sessoes{

    display: flex; 
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: 35em;
    max-width: 50%;   
}

.sHeader{
    display: flex;
    justify-content: space-between;
    
}

.sHeader button{
    border: 0;
    margin-left: 7px;
    cursor: pointer;
}

.sHeader button > svg{
    font-size: 2em;
 
    transition: 0.2s;
}

.sHeader button > svg:hover{
    fill: #444d9e;

}

.session{
    background-color: #f1f1f1;
    padding:  .5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    flex-direction: column;
    margin-bottom: 1em;
}

.rebutton{
    min-width: 8em;
    padding: 0 1em;
    transition: .2s;
    margin-left: 4em;
    height: 2.7em;
    background-color:#e6dcdc;
    border: 0.02px solid rgb(148, 148, 148);
    cursor: pointer;
}

.rebutton > svg{
    font-size: 1.7em;
}

.rebutton:hover{
    background-color: #d5d5d5;
}

