.evoPanel{   
    display: flex;
    height: 100%;
    padding-bottom: .5em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.evoPanel input{
    padding: .6rem;
    border: none;
    
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}
.evoPanel textarea{
    min-height: 6em;
}
.revoPanel textarea{
    width: 90%;
}
.rHeader{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.revoPanel{
    min-width: 35em;
    background-color:#e7e7e7;
    display: flex;
    min-height: 28em;
    max-height: 72vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
    padding: 1em;
    margin-bottom: 1em;

}

.rHeader input{
    margin-right: 1em;
  
}

.sHeader{
    display: flex;
    justify-content: space-between;
    
}

.sHeader button{
    border: 0;
    cursor: pointer;
}

.sHeader button > svg{
    font-size: 2em;
    fill: #868686;
    transition: 0.2s;
}

.sHeader button > svg:hover{
    fill: #a54242;
}

.rePanel input{
    width: 9em;
}



.session{
    background-color: #f1f1f1;
    padding:  .5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    flex-direction: column;
    margin-bottom: 1em;
}

.levoPanel{

    display: flex; 
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: 35em;
    max-width: 50%;   
}

.rebutton{
    min-width: 8em;
    padding: 0 1em;
    transition: .2s;
    margin-left: 4em;
    height: 2.7em;
    background-color:#e6dcdc;
    border: 0.02px solid rgb(148, 148, 148);
    cursor: pointer;
}

.rebutton > svg{
    font-size: 1.7em;
}

.rebutton:hover{
    background-color: #d5d5d5;
}

