.resumoPanel{   
    display: flex;
    height: 100%;
    padding-bottom: .5em;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.resumoPanel input{
    padding: .6rem;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}
.resumos{
    min-height: 15em;
}
.rrHeader{
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.inline{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.rePanel{
    min-width: 35em;
    background-color: #f1f1f1;
    display: flex;
    min-height: 28em;
    max-height: 72vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    flex-direction: column;
    padding: 1em;
    margin: 0;

}

.rHeader input{
    margin-right: 1em;
  
}

.sHeader{
    display: flex;
    justify-content: space-between;
    
}
.rePanel input{
    width: 9em;
}




.lePanel{
 
    display: flex; 
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: 35em;
    max-width: 50%;  

}

.rebutton{
    min-width: 8em;
    padding: 0 1em;
    transition: .2s;
    margin-left: 4em;
    height: 2.7em;
    background-color:rgb(207, 207, 207);
    border: 0.02px solid rgb(148, 148, 148);
}

.rebutton > svg{
    font-size: 1.7em;
}

.rebutton:hover{
    background-color: #d5d5d5;
}

