.loginForm{
    background-color:antiquewhite ;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}

.wall{
display: flex;
align-items: center;
justify-content: center;
 width: 100vw;
 height: 100vh;
 background-color:cornflowerblue;
}

.logo2{
    width: 100vw;
}