.tableContainer{
    background-color: #f7f7f7;
    position: relative; 
    padding: 0;
    height: 20px;
    max-height: 73vh;
    
}
.tableContainer th{
    padding-left: 5px;
    background-color: #c23939;
    background-color: #fbfbfb;
    height: 5vh;
    position: sticky;
    top: -1px;
    font-weight: normal;
    width: 100%;
    

}
.tbody td{
    padding-left: 5px;
    width: 100vh;
}

.tableContainer td:hover{
    transition:0.4s;
    background-color: #b4b4b4;
    cursor: pointer;
}


tr:nth-child(even) {
    background: #ffffff;
}
tr:nth-child(odd) {
    background: #f0f0f0;
}

.space{
   color: #fff;
}


