.ulContainer{
    background-color: #f7f7f7;
    position: relative; 
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    width: 95%;
    margin: auto;
}
.ulContainer li{
    padding-left: 5px;
    background-color: #c23939;
    background-color: #fbfbfb;
    position: sticky;
    font-weight: normal;  
    list-style-type: none;

}

.ulItem{
    height: 100%;
    max-height: 60vh;
    overflow: auto;
}

.ulItem li:hover{
    transition:0.4s;
    background-color: #b4b4b4;
    cursor: pointer;
}

li:nth-child(even) {
    background: #ffffff;
}
li:nth-child(odd) {
    background: #f0f0f0;
}



