.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #ece6e6;
    height: 12vh;
    padding: 0;
    margin: 0;
    border-bottom:.2px solid gray;
    align-items:flex-end;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}
.logo{
    position: absolute;
    top: -3px;
    width: 80px;
    margin-left: 2vh;
}
.item{
    display: flex;
    margin-right:1em;
    font-size: 3.4vh;
}

.item a{
    color: #c23939;
    font-weight: 600;
    
}

.item a:hover{
    color: #882a05;
}
.navs > div{
    text-align: center;
    padding: 3px;
    font-size: 1.3em;
    margin: 0 .1em; 
    cursor: pointer;
    transition: 0.2s; 
    
    
}

.navs{   
    height: 100%;
    display: flex;
    align-items:flex-end;
    margin: 0 1em;
}

.navs > .on > a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: rgb(60, 60, 60);
    
}

.navs > .off > a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: rgb(101, 101, 101);
}
.navs > .off{
    border-bottom: 2px solid rgba(211, 7, 7, 0);
}
.navs > .on{
    border-bottom: 2px solid rgb(129, 43, 43);
    
}
