.bal{
  width: 210px;
  min-height: 185px;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
  border: 2px solid #dddd;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}

.lastBalao{
  top: -120px;
  right: 210px;
}

.firstBalao{
  top: 0px;
  left: 125px;
}

.firstLastBalao{
  top: -50px;
  right: 210px;
}

.balao{
  top: -120px;
  left: 125px;
}

.cards{
 display: flex;
 flex-direction: row; 
  border-bottom: 1px solid #c3dfeb;
 border-right: 1px solid #c3dfeb;


.card{
    //border-radius: 20px; 
    display: flex;
    flex-direction: column;
    height: 60px;
    //background-color: '';
    //border: 1px solid #ecc9c9;
    cursor: pointer;
    
  }

 

.empCard{
  //border-radius: 20px; 
  display: flex;
  flex-direction: column;
  height: 60px;
  background-color: '';
  //border: 1px solid #ecc9c9;
  cursor: pointer;
  
}

  .fullBorder{
    border-radius: 10px;
  //  border-top: 1px solid #818181;
   // border-right: 1px solid #818181;
  }
  .topBorder{
    border-radius: 10px 10px 0 0;
   // border: 1px solid #818181;
 //   border-bottom: 1px solid #818181;
  }
  .bottomBorder{
    border-radius: 0 0 10px 10px ;
    //border-top: 1px solid #818181;
  }

  .indisp{
   background-color: #acc4ce;
    // border-radius: 10px;
  //  border: 1px solid #818181;

  }

  .indisp p{
    font-size: 12px;
 
   }
  
 

  .card:hover > p{
   font-weight:bold;

  }

  .card:hover .balao{
    display: block;
    opacity: 1;
   
  }

  .card:hover .lastBalao{
    display: block;
    opacity: 1;
   
  }

  .card:hover .firstBalao{
    display: block;
    opacity: 1;
   
  }

  .card:hover .firstLastBalao{
    display: block;
    opacity: 1;
   
  }

  .card > div p{
    //color: aliceblue;
    padding-left: 2px;
    font-weight: unset;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card div{

    overflow: hidden;
    text-overflow: ellipsis;
  }

}

