.form{
    background-color:#ebebeb ;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    overflow-y: hidden;
    padding: 8px;
    height: 100%;
    width: 600px;
    border-radius: 5px;
}

.inputForm > div{
   margin-bottom: 1.5em;
}
.inputForm p{
    margin: 10px 0;
}


.buttons{
    display: flex;
    flex-direction: row;
}

.form h1{
    color: #5d5d5d;
    padding-top: 2vh;
    text-align: center;
    width: 100%;
    font-weight: normal;
    
}

.steps{
    width: 100%;
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step{
    margin: 2px;
    padding: 5px;
    width: 30em;
}

.step > * > input  {
    margin-bottom: 15px;
}
.step > * > input[type=date]  {
    margin-bottom: 15px;
    width: 23vh;
}



.step radio {
    margin-bottom: 10px;
}

.labelConfirm svg{
    fill: #0e7821;
    
}
.labelConfirm{
    display: inline-flex;
    align-items: center;
}
.labelConfirm div{
    border: 2px solid #85965f;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding:2px;
    background-color: #f1f1f1;
    margin: 5px;
}

.step svg {
    margin: auto;
    cursor:pointer;
    transition:0.5s;
    font-size:1.5rem;
    border: solid black 1px;
    fill: #f1f1f1;
    
}

.inline1{
    display: flex;
    flex-direction: row;

}

.inline1 input{
    margin-right: 10px;
}


.inline2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.thproc th{
    background-color: #515253;
    color: #f1f1f1;
    padding: 0 6px;
    font-weight: 400;
}

.tdproc td{
    text-align: center;
    background-color: antiquewhite;
    max-width: 400px;
    padding: 0 5px;
}

.tableproc{
    max-height: 200px;
    overflow-y: auto;
}
.tableproc tr{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    height: 30px;
    
}


.nomeproc:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.buttonInputDay{
 
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    background-color: #777777;
    color:#fff;
    padding: .6rem;
    text-decoration: none;
    transition: .5s;
    height: 3.2em;
    cursor: pointer;
    border: none;
    margin-top: .8em;
}

.buttonLabelDay{
 
    border: none;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    background-color: #4d404e;
    color:#fff;
    margin-left: 3px;
    padding: 5px;
    transition: .5s;
    cursor: pointer;
}