.trClient:hover{
    cursor: pointer;
    background-color: bisque;
}

.formContainer22{
    position: relative;

    width: 28em;
    display: flex;
    flex-direction: column;

    margin: auto;

    
    padding: 0;
    
    
}

.ulContainer{
    max-height: 250px;
    overflow-y: auto;
}

.ulContainer tr{
   background-color: #f1f1f1;
  
}

.ulContainer td{
    padding-left: 10px;
 }


.header{
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1.5px solid #727272;
    border-radius: 5px;
    

}
.header2{
    background-color: #ffffff;
    display: flex;
    height: 2.7em;
    align-items: center;
    
  
    border: 1.5px solid #727272;
    border-radius: 5px;

}
.header input{
    height: 2.5em;
    margin: 0 2em 0 1em;
}
.header2 input{
    height: 2.5em;
    margin-top: 25px;
}
.header > svg{
    margin: 0 .2em;
    fill: rgb(70, 72, 72);
    font-size: 1.5em;
}
.header2 > svg{
    margin: 0 .2em;
    fill: rgb(70, 72, 72);
    font-size: 1.5em;
}
