.trClient:hover{
    cursor: pointer;
    background-color: bisque;
}

.formContainer22{
    position: relative;
    height: 2.5em;
    width: 28em;
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 40px;
    
    padding: 0;
    
    
}

.ulContainer{
    min-height: 20em;
    overflow-y: auto;
}

.ulItem button{
    border: none;
}

.ulItem li{
    margin-left: 5px;
    list-style: none;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1.5px solid #727272;
    border-radius: 5px;

}
.header input{
    height: 2.5em;
    margin: 0 2em 0 1em;
}

.header > svg{
    margin: 0 .2em;
    fill: rgb(70, 72, 72);
    font-size: 1.5em;
}
