.trClient:hover{
    cursor: pointer;
    background-color: bisque;
}

.formContainer3{
    position: relative;

    width: 28em;
    display: flex;
    flex-direction: column;

 

    
    padding: 0;
    
    
}

.ulContainer{
    
    overflow-y: auto;
}

.ulContainer tr{
   background-color: #f1f1f1;
  
}

.ulContainer td{
    padding-left: 10px;
 }


.header3{
    height: 45px;
    display: flex;
    justify-content:space-between;
 
    

}


.header2{
 
    display: flex;
  

}
.header input{
    height: 2.5em;
    margin: 0 2em 0 1em;
}
.header2 input{
    height: 2.5em;
    margin-top: 25px;
}
.header > svg{
    margin: 0 .2em;
    fill: rgb(70, 72, 72);
    font-size: 1.5em;
}
.header2 > svg{
    margin: 0 .2em;
    fill: rgb(70, 72, 72);
    font-size: 1.5em;
}
