*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  color: #444444;
  
}

html,body, #root{
  background-color: #f1f1f1;
  height: 20%;
  width: 100%;
  
}

.value{
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1em;
  color: #000000;
}

h1, h2, label{
  font-weight: 600;
}

input {
  font-size:1em;
}


